<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.LgProductCarMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.entity.LgProductCar">
        <id column="id" property="id" />
        <result column="open_id" property="openId" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="amount" property="amount" />
        <result column="unit_price" property="unitPrice" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, open_id, product_id, product_name, amount, unit_price, update_time, create_time
    </sql>

</mapper>
